<h1>Learnsync</h1>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }%>

<%= link_to "Create Student Profile", new_student_path%>

<%= link_to "Student Profile", student_path(current_user.student) %>

<%= link_to "Enrollments", enrollments_index_path %>



<table>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Subject Code</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.coursename %></td>
        <td><%= course.subjectcode %></td>
        <td><%= link_to "Enroll", enroll_course_path(course), method: :post, data: { turbo: false } %></td>

        <td><%= link_to "Show", course_path(course) %></td>
      </tr>
    <% end %>
  </tbody>
</table>



