<%# TODO: Implement search bar %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Subject Code</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.coursename %></td>
        <td><%= course.subjectcode %></td>
        <td><%= course.description %></td>
        <td><%= button_to "Enroll", student_enrollments_path(current_user.student, course_id: course.id), method: :post %></td>
        <td><%= link_to "Show", course_path(course) %></td>
      </tr>
    <% end %>
  </tbody>
</table>



