<div class="container mt-5">
  <h1 class="display-4 text-center mb-4">User Profile</h1>

  <div class="card p-4 shadow-sm">
    <h3 class="card-title mb-3">Student Information</h3>

    <ul class="list-unstyled">
      <% if @student.image.attached? %>
        <%= image_tag @student.image %>
      <% else %>
        <p>No image uploaded.</p>
      <% end %>


      <li><strong>Name:</strong> <%= @student.firstname %> <%= @student.lastname %></li>
      <li><strong>Degree:</strong> <%= @student.degree %></li>
      <li><strong>Major:</strong> <%= @student.major %></li>
      <li><strong>Year Standing:</strong> <%= @student.yearstanding %></li>
    </ul>

    <hr class="my-4">

    <div class="d-flex justify-content-between">
      <%= link_to "Account Settings", edit_user_registration_path, class: "btn btn-outline-primary" %>
      <%= link_to "Edit Student Profile", edit_student_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
