
<h2>My Enrollments</h2>
<table class= "table table-striped">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Subject Code</th>
      <th>Description</th>
      <th>Notes</th>

    </tr>
  </thead>
  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.course.coursename %></td>
        <td><%= enrollment.course.subjectcode %></td>
        <td><%= enrollment.course.description%></td>
        <td><%= enrollment.note %></td>
        <td><%= button_to "Unenroll", student_enrollment_path(@student, enrollment), method: :delete, data: { confirm: "Are you sure?" } %></td>
        <td><%= link_to "Show Enrollment",  student_enrollment_path(@student, enrollment)%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
