<h1><%= "#{@student.firstname}'s Todo's"%></h1>




<%= search_form_for @q, url: student_todos_path, method: :get do |f| %>
  <%= f.label :enrollment_course_coursename_cont, "Course Name" %>
  <%= f.search_field :enrollment_course_coursename_cont %>

  <%= f.label :title_cont, "Title" %>
  <%= f.search_field :title_cont %>

  <%= f.label :description_cont, "Description" %>
  <%= f.search_field :description_cont %>

  <%= f.submit "Search" %>
<% end %>





<%=link_to "Create Task + ", new_student_todo_path(@student), class: "btn btn-primary"%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Todo Title</th>
      <th>Description</th>
      <th>Course</th>
      <th>Finished?</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td><%= todo.enrollment.course.coursename if todo.enrollment && todo.enrollment.course %></td>

        <td><%= link_to "View", student_todo_path(@student, todo)%></td>
        <td><%= link_to "Done", student_todo_path(@student, todo), method: :delete,  data: { confirm: "Are you sure?" }, class: "btn btn-success"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
