<h1><%= "#{@student.firstname}'s Todo's"%></h1>

<br>
<%=link_to "Create Task + ", new_student_todo_path(@student), class: "btn btn-primary"%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>View Task</th>
      <th>Finished?</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td><%= link_to "View", student_todo_path(@student, todo)%></td>
        <td><%= link_to "Done", student_todo_path(@student, todo), method: :delete,  data: { confirm: "Are you sure?" }, class: "btn btn-success"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
