<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <%= link_to "LearnSync", root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <%# only allow to view if signed in and you are a student %>
        <% if user_signed_in? && current_user.student.id.present? %>
            <li>
              <%= link_to"Home", students_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Student Profile", student_path(current_user.student), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Enrollments", student_enrollments_path(current_user.student), class: "nav-link" %>
            </li>
            <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" }, class: "nav-link" %>

        <% else %>
        <%# publically available when not signed in or do not have student account %>
          
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Create account", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>